@inherits LayoutComponentBase

<div class="sidebar">
    @*<NavMenu />*@
    <NavMenuBlazored/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="body-content px-4">
        @Body
    </div>
</div>
<style>
    .body-content {
        padding-top: 1.1rem;
    }

</style>