@using Microsoft.Extensions.Logging
@using Receitas_API.Data
@using Receitas_API.Models


<div class="control-section">
    <div class="row">
        <div class="col-xl-3 col-md-12 col-sm-12 content">
            <a class="d-block mb-4 h-100">
                <div class="img-box">
                    <img class="img-fluid img-thumbnail"
                         src="@Recipe.image" alt="Recipe image" />
                </div>
                <h6 class="recipe-card-name"><b>@Recipe.title</b></h6>
            </a>
        </div>
        <div class="col-xl-9 col-md-12 col-sm-12 my-2 content">

            <p class="h6 font-weight-bold">
                Ingredients and Preparation
                <span><img src="images/icons8-ingredients-64.png" width="32" height="32" />&nbsp;<img src="images/icons8-frying-pan-80.png" width="32" height="32" /></span><span></span>
            </p>

            @foreach (var mainSteps in recipeDetails)
            {
                mainStepsDetails = mainSteps.steps.ToList();
                foreach (var detail in mainStepsDetails)
                {
                    string ingredients = "";
                    foreach (var ingredient in detail.ingredients)
                    {
                        ingredients += ingredient.name + ", ";
                    }
                    if (!string.IsNullOrEmpty(ingredients))
                    {
                        ingredients = ingredients.Substring(0, ingredients.Length - 2);
                    }
                    <SfCard ID="DetailCard" CssClass="my-2">
                        @if (!string.IsNullOrEmpty(ingredients))
                        {
                            <CardContent>
                                <ChildContent>
                                    <div class="text-body font-weight-bold">&nbsp;@ingredients</div>
                                </ChildContent>
                            </CardContent>
                        }
                        <CardContent EnableSeparator="true" Content="@detail.step"></CardContent>
                    </SfCard>
                }
            }
            <div class="d-flex justify-content-end my-2">
                <SfButton class="e-btn oi-arrow-circle-top p-2 e-primary">&nbsp;&nbsp;Voltar</SfButton>
            </div>
        </div>
    </div>
    <hr />
</div>


