
    <div class="recipe-card">
        <div class="recipe-card-body">
            <div class="img-box">
                <img class="img-fluid img-thumbnail"
                     src="@Recipe.link_imagem" alt="imagem da receita" />
            </div>
            <h6 class="recipe-card-name"><b>@Recipe.receita</b></h6>
            <div class="d-flex justify-content-center mt-1">
                <SfButton IconCss="fa fa-eye" CssClass="e-primary" Content="Detalhe" @onclick="ShowDetail" />
            </div>
        </div>
    </div>