
<div class="container">
    <div class="recipe-card">
        <div class="recipe-card-body">
            <div class="img-box">
                <img class="img-fluid img-thumbnail"
                     src="@Recipe.link_imagem" alt="imagem da receita" />
            </div>
            <h6 class="recipe-card-name"><b>@Recipe.receita</b></h6>
            <div class="container-fluid ml-1 mr-1">

                <div class="recipe-icons">
                    @Recipe.tipo
                </div>
            </div>
            <hr class="separator" />
            <div class="d-flex justify-content-center align-items-center">
                <p><SfButton IconCss="fa fa-eye" CssClass="e-primary" Content="View detail" @onclick="ShowDetail" /></p>
            </div>
            <hr />
        </div>
    </div>
</div>

